body {
    background-color: #FFFFFF;
    font-family: Poppins, sans-serif;
    
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto auto;
    padding: 0 1em;

    
}
.container h2 {
    text-align: center; 
}
.container h3 {
    font-size: 2em;
    text-align: center;
    width: 100%;   
}

.container img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}



.text-content {
    margin: auto auto;
}

h3 {
        transition: transform 0.1s ease-in-out;

}
h3:hover {
    color: #FF5678;
    transform: scale(1.02);
}
.intro-content h2 {
    font-size: 2em;
}

.intro-content {
    
    text-align: left;    
}
.container p {
    text-align: left;
    line-height: 1.5em;
    
}
.content p {
    max-width: 300px;
}

.content {
    display: flex;
    justify-content: left;
}

.right-content {
    order: 2;
}


.left-content {
    order: 1;
}


@media(max-width: 600px) {
    .content {
        flex-direction: column;
    }
    .wrap {
    width: 100%;
    text-align: center;

}
.container h3 {
    
    text-align: left;
    

}
.container h2 {
    text-align: left;
}

.container p {
    padding: 0 1em;
}

.right-content {
    order: 1;
}


.left-content {
    order: 1;
}




}