body {
    background-color: #FFFFFF;
    font-family: Poppins, sans-serif;
}
.text-content {
    padding: 2em;
}
.download:hover {
    color: black !important;
}
.feature-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.feature-block p {
    text-align: left;
    font-weight: lighter;
    line-height: 1.5em;
}


.content {
    max-width: 900px;
    margin: auto auto;
    display: flex;
    
    padding: 1em;
    flex-direction: column;

    
}
.content-left {
order: 1
 
}
.content-right {
    order: 2;
}
h2 {
    font-size: 2.5em;
    margin: 0 0;
}
img {
    width: 100%;
    max-width: 200px;
}
.content h1 {
    align-self: flex-start;
    font-size: 3em;
    font-weight: normal;
}

@media(max-width: 600px) {
    .content {
        margin: auto auto;
        align-items: center;
    }
    .content img {
        padding-bottom: 2em;
            max-width: 350px;

    }
    .text-content {
        padding: 0;
    }
    .feature-block {
        flex-direction: column;
        padding: 0 2em;
    }
    .content-left {
order: 1;        
    }
    .content-right {
order: 1;        
        
    }
}