html, body {

    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    
}


.content {  
    display: flex;
    

}


.container {
    
    margin: 1em;
}
.content h6 {
    width: 100%;
    text-align: center;
    font-size: 1em ;
    font-weight: 400;
    margin: 20px 0;
}

.content h5 {
    font-size: 1.5em;
    margin: auto auto;
    
}

.content p {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: lighter;
    max-width: 500px; 

}
.content-left {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    
}

.content-right {
    
    align-self: center;

    


}

.content-left h3 {
    font-size: 1.2em;
    font-weight: 400;
    width: 100%;
    text-align: center;

}


.gobble-home {
    
    max-width: 300px;

    
}

.content .apple-download {
    width: 300px;
    margin-top: 3.28em;


}
.contact-us {
    
    background-color: #FF5678;
    margin-top: 5em;
    padding: 0.5em;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.icon-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    
    
}


@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }
    .content h5 {
        margin: auto auto;
        font-size: 1.9em;
    }
    .content-right {
        justify-content: center;
    }
}