    html, body {

    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}
    
    
    .container {
      max-width: 900px;
      margin: auto auto;
      padding: 1em;
    }
    .privacy-doc {
      margin: auto auto;
      max-width: 700px;      

    }
    h1, h2 {
      color: #111;
    }
    h1 {
      text-align: center;
      margin-bottom: 1.5rem;
    }
    a {
      color: #0070f3;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    footer {
      margin-top: 2rem;
      text-align: center;
      font-size: 0.9rem;
      color: #666;
    }
